# Default values
# https://github.com/bitnami/charts/blob/master/bitnami/redis/values.yaml
usePassword: false
cluster:
  enabled: false
master:
  persistence:
    enabled: false
replica:
  persistence:
    enabled: false

volumePermissions:
  enabled: true

# Enable skipping image verification (NOT RECOMMENDED for production)
global:
  security:
    allowInsecureImages: true