# Default values
# https://github.com/bitnami/charts/blob/master/bitnami/redis/values.yaml
usePassword: false
cluster:
  enabled: false
master:
  persistence:
    enabled: false
replica:
  persistence:
    enabled: false

volumePermissions:
  enabled: true

# Use Bitnami legacy repositories for images
image:
  repository: bitnamilegacy/redis

sentinel:
  image:
    repository: bitnamilegacy/redis-sentinel

metrics:
  image:
    repository: bitnamilegacy/redis-exporter

# Enable skipping image verification (NOT RECOMMENDED for production)
global:
  security:
    allowInsecureImages: true